{% extends 'base_layout.html' %}

{% block content %}
<div class="main">
    <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">{{proyect.titular}} </h3>
    <div class="row">
		<div class="col-md-6">
			<div class="panel">
					<div class="profile-detail">
						<div class="profile-info">
							<ul class="list-unstyled list-justify">
								<h4 class="heading">DETALLES</h4>
									<li>Folio Inicial <span>{{object.folio_inicial}}</span></li>
									<li>Folio Final <span>{{object.folio_final}}</span></li>
									<li>Volumen <span>{{object.no_formatos}}</span></li>
									<li>Formatos <span>{{object.volumen}}</span></li>   
									<li>Especie <span>{{object.especie}}</span></li>
									<li>Unidad de Medida <span>{{object.unidad_de_medida}}</span></li>                 
									<li>Producto <span>{{object.producto}}</span></li>
									<li>Numero de Oficio <span>{{object.no_oficio}}</span></li>
									<li>Fecha  <span>{{object.fecha}}</span></li>
									<li>Vigencia <span>{{object.Vigencia}}</span></li>
								</ul>								
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6 text-right">
								<a href="{% url 'libro:proyect-update' id=object.pk %}" class="btn btn-primary"><i class="lnr lnr-sync"></i> Editar</a>
							</div>
							
							<div class="col-md-6 ">
								<form action="{% url 'libro:proyect-delete' id=object.pk %}" method="post">
									{% csrf_token %}										
									<button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>									
								</form>
							</div>						
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Descripcion</h3>
				</div>
				<div class="panel-body">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero suscipit, laborum esse voluptatibus aut neque. Neque, excepturi eaque consectetur explicabo suscipit exercitationem ad ullam, numquam ipsa earum facilis, tempora corporis?</p>
				</div>
			</div>
		</div>		
		</div>
		</div>
    </div>
    </div>
    </div>
		
  </div> 
 {% include "Scripts.html" %}

<script>
	//TODO: Agregar funcion para mandar un modal con el formulario de confirmacion de eliminacion de registro
</script>

{% endblock %}

